<!DOCTYPE html>
<html>
  <head>
    <%- include('../../partials/head') %>
  </head>
  <body>
    <%- include('../../partials/nav') %>

    <div class="container3">

      <h2 class="mb-3">Notice</h2>

      <div>
        <a class="btn bt btn-info" href="/notice/new">글쓰기</a>
      </div>

      <table class="board-table table table-light table-sm table-bordered border-bottom">

        <thead class="table-info">
          <tr>
            <th scope="col">Title</th>
            <th scope="col" class="date">Date</th>
          </tr>
        </thead>

        <tbody>
          <% if(posts == null || posts.length == 0){ %>
            <tr>
              <td colspan=2> There is no data to show :( </td>
            </tr>
          <% } %>
          <% posts.forEach(function(post) { %>
            <tr>
              <td>
                <a href="/notice/<%= post._id %>"><div class="ellipsis"><%= post.title %></div></a>
              </td>
              <td class="date">
                <span data-date="<%= post.createdAt %>"></span> <!-- 1 -->
              </td>
            </tr>
          <% }) %>
        </tbody>

      </table>

    </div>
  </body>
</html>